.container {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 6vh 5vw 6vh 5vw;
    /* width: 90vw;
    height: 76vh; */
    /* background: #c5f767; */
}

.calendar {
    text-align: center;
    /* font-size: 0.5rem; */
    color: #29704f;
    font-weight: 600;
    white-space: pre-line;
}

.title {
    font-size: 2rem;
}

hr {
    color: #29704f;
    background: #29704f;
    height: 0.1vh;
    width: 90vw;
}

@media only screen and (max-height: 900px) and (max-width:400px) {
    .calendar {
        /* padding-top: 50vh; */
    }

    .container {
        /* margin-top: 10vh;
        padding-bottom: 40vh; */
    }
}

@media only screen and (max-width: 500px) {
    .container {
        /* padding-top: 10vh; */
    }
}